<% if @tag %>
    <% provide :title, 'Articles(' + @tag.name + ')' %>
<% else %>
    <% provide :title, 'Articles' %>
<% end %>
<header>
    <div class="toolbar">
        <div class="toolbar-action">
            <%= link_to root_path do %>
                <i class="material-icons">arrow_back</i>
            <% end %>
        </div>
    </div>
</header>
<main>
    <div class="container">
        <div class="articles-nav">
            <h4>Articles (<%= @articles.size %>)</h4>
            <ul>
                <% @articles.each do |article| %>
                    <li>
                        <%= link_to article_path(article) do %>
                            <span><%= article.title %></span>
                            <time class="text-muted"><%= article.created_at.localtime.strftime '%d %b %Y' %></time>
                        <% end %>
                    </li>
                <% end %>
            </ul>
        </nav>
    </div>
</main>