<% if @tag %>
    <% provide :title, "Articles(#{@tags.name})" %>
<% else %>
    <% provide :title, 'Articles' %>
<% end %>
<% content_for :header do %>
    <%= render partial: 'shared/header', locals: { cus_url: root_path } %>
<% end %>
<div class="container">
    <div class="articles-nav">
        <h1>Articles (<%= @articles.size %>)</h1>
        <ul>
            <% @articles.each do |article| %>
                <li>
                    <%= link_to article_path(article) do %>
                        <span><%= article.title %></span>
                        <time class="text-muted"><%= article.created_at.localtime.strftime '%d %b %Y' %></time>
                    <% end %>
                </li>
            <% end %>
        </ul>
    </div>
</div>
