<% provide :title, 'New Article' %>
<div class="container">
    <div class="row">
        <h1>New Article</h1>
        <%= form_for @article, url: {action: "create"}, html: {class: "col s12"} do |f| %>
            <div class="row">
                <div class="input-field col m7 s12">
                    <%= f.text_field :title, class: 'validate' %>
                    <%= f.label :title, :Title %>
                </div>
                <div class="input-field col m4 offset-m1 s12">
                    <%= f.text_field :author, class: 'validate', value: 'just a placeholder' %>
                    <%= f.label :author, :Author %>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <%= f.text_area :content, class: "materialize-textarea validate" %>
                    <%= f.label :content, :Content %>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    some field not implemented
                </div>
            </div>
            <%= f.button class: 'btn waves-light waves-effect' do %>
                Create<i class="material-icons right">send</i>
            <% end %>
        <% end %>
    </div>
</div>