<%= form_for @article, html: {class: "col s12"} do |f| %>
    <div class="row">
        <div class="input-field col m7 s12">
            <%= f.text_field :title, class: 'validate' %>
            <%= f.label :title, :Title %>
        </div>
        <div class="input-field col m4 offset-m1 s12">
            <%= f.text_field :author, class: 'validate' %>
            <%= f.label :author, :Author %>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <%= f.text_area :content, class: "materialize-textarea validate" %>
            <%= f.label :content, :Content %>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            some field not implemented
        </div>
    </div>
    <%= f.button class: 'btn waves-light waves-effect' do %>
        Submit<i class="material-icons right">send</i>
    <% end %>
<% end %>