<!DOCTYPE html>
<html>
<head>
    <title><%= generate_title yield :title %></title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag    'http://fonts.useso.com/icon?family=Material+Icons' %>
    <%= stylesheet_link_tag    'http://fonts.useso.com/css?family=Abel', ref: 'stylesheet', type: 'text/css' %>
    <%= javascript_include_tag 'application' %>
    <%= yield :head %>
    <%= csrf_meta_tags %>
</head>
<body id="body">
    <nav class="z-depth-1" role="navagation">
        <div class="container">
            
            <div class="nav-wrapper">
                <%= link_to 'Ciao.moe', root_path, class: 'brand-logo' %>
                <a href="javascript:void(0);" data-activates="mobile-nav" class="button-collapse">
                    <i class="material-icons">menu</i>
                </a>
                <ul class="right hide-on-med-and-down">
                    <li><%= link_to 'Articles', articles_path %></li>
                    <li><%= link_to 'Projects', articles_path %></li>
                    <li><%= link_to 'About me', articles_path %></li>
                </ul>
                <ul class="side-nav" id="mobile-nav">
                    <li><%= link_to 'Articles', articles_path %></li>
                    <li><%= link_to 'Projects', articles_path %></li>
                    <li><%= link_to 'About me', articles_path %></li>
                </ul>
            </div>
        </div>
    </nav>

    <%= yield %>
</body>
</html>
