<!DOCTYPE html>
<html>
<head>
    <title><%= generate_title yield :title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag    'http://fonts.useso.com/icon?family=Material+Icons' %>
    <%= stylesheet_link_tag    'http://fonts.useso.com/css?family=Abel' %>
    <%= stylesheet_link_tag    'http://fonts.useso.com/css?family=Roboto' %>
    <%= javascript_include_tag 'application' %>
    <%= yield :head %>
    <%= csrf_meta_tags %>
</head>
<body id="body">
    <header>
        <%= yield :header %>
    </header>
    <main>
        <%= yield %>
    </main>
    <footer>
        <%= yield :footer %>
    </footer>
    <%= debug(params) if Rails.env.development? %>
    <script>
        <% flash.each do |message_type, message| %>
            Materialize.toast('<%= "[#{message_type}]: #{message}" %>', 4000, 'rounded')   
        <% end %>
    </script>
</body>
</html>
